@import 'vars';

body{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	color: $text;
	overflow-x: hidden;
}

html,body{
	height: 100%;
}

.container{
	max-width: 1200px;
	padding: 0 15px;
	margin: 0 auto;
}
.title{
	font-size: 36px;
	font-weight: 400;
	color: $dark;
	font-family: 'Prata', serif;
	text-align: center;
}