@import 'global';
@import 'vars';

html{
	box-sizing: border-box;
}
*,
*::before,
*::after{
	box-sizing: inherit;
	padding: 0;
	margin: 0;
	border: 0;
}

a{
	display: inline-block;
	text-decoration: none;
	color: $text;
}
ul,
li{
	margin: 0;
	padding: 0;
	list-style: none;
}
//----------------Start Header-------------------------

html{
	position: relative;
}
.header{
	background: rgba(144,145,142,0.4);
	min-height: 757px;
	color: #fff;
	position: absolute;
	right: 0;
	left: 0;
	z-index: 1;

}
.header__inner{
	display: flex;
	flex-direction: column;
	min-height: 757px;
}
.header__nav{
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 35px;
	//margin-bottom: 100px;
	margin-right: 75px;
	a{
		color: #fff;
		text-shadow: 1px 1px 3px #000;
		text-transform: uppercase;
		&:hover{
			color: $green;
		}
	}
	li+li{
		margin-left: 20px;
	}
	li.header__nav-logo{
		margin-left: 35px;
		margin-right: 22px;
		
	}
}

.header__info{
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	//padding-top: 40px;
	text-align: center;
	background-image: url(../images/slider/slider-text-shadow.png);
	background-repeat: no-repeat;
	background-position: center center;
	.header__info-slogan{
		font-size: 60px;
		padding-bottom: 35px;
		line-height: 50px;
	}
	h1{
		font-family: 'Playfair Display', serif;
		font-weight: 700;
		font-style: italic;
		font-size: 88px;
		line-height: 95px;
		margin-bottom: 20px;
		margin-top: 0;
	}
	.header__info-link a{

		border: 1px solid #fff;
		border-radius: 25px;
		color: #fff;
		font-size: 18px;
		text-transform: uppercase;
		padding: 20px 55px;
		&:hover{
			color: $green;
		}
	}
}
//----------------End Header-------------------------
//----------------Start Slider-------------------------

.slider{
	width: 100%;
	min-height: 757px;
	//position: relative;
}
.slider-item{
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 757px;
	
}
.slider__items{
	.slick-arrow{
		font-size: 0;
		border: none;
		border-radius: 50%;
  		background-color: rgba(250, 250, 250,0.2);
  		position: absolute;
  		width: 69px;
  		height: 69px;
  		z-index: 5;
  		cursor: pointer;
	}
	.slick-next {
		top: 50%;
		right: 42px;
		outline: none;
		
		&::before{
			background-image: url(../images/slider/button-next.png);
			position: absolute;
			content: "";
			width: 13px;
			height: 19px;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);
		}
	}
	.slick-prev{
		top: 50%;
		left: 42px;
		outline: none;
		&::before{
			background-image: url(../images/slider/button-prev.png);
			position: absolute;
			content: "";
			width: 13px;
			height: 19px;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);
		}
	}
}


//----------------End Slider-------------------------
//----------------Start Main categories-------------------------

.cat-container{
	position: relative;
}
.main-categories-position{
	position: absolute;
	margin-top: -30px;
	z-index: 10; 
	max-width: 100%; 
	left: 0;
	right: 0;
}
.main-categories{
	background-color: #fff;
	min-height: 315px;
	max-width: 100%;
	
}
.main-categories__wrapper{
	display: flex;
	justify-content: center;
	max-width: 100%;
}

.main-categories__item{
	max-width: 365px;
	width: 100%;
	min-height: 260px;
	position: relative;
	box-shadow: 0px 0px 27px 0px rgba(0, 0, 0, 0.17);
	&+&{
		margin-left: 35px;
	}
	background-size: cover;
	background-repeat: no-repeat;
}
.main-categories__item-inner{
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 100%;
	min-height: 100%;
}
.categories__item__title{
	font-size: 24px;
	color: #fff;
	text-shadow: 1px 1px 1px #000;
	text-transform: uppercase;
	width: 210px;
	line-height: 28px;
	text-align: center;
	background-image: url(../images/content/shadow_box_cat.png);
	background-repeat: no-repeat;
	background-size: cover;
	padding: 30px;
}
.categories__item__link a{
	position: absolute;
	bottom: 0;
	left: 0;
	margin-left: 25px;
	margin-bottom: 25px;
	background-color: #9c6;
	color: #fff;
	font-weight: 700;
	padding: 14px 38px;
	border-radius: 4px;
	&:hover{
		text-decoration: underline;
	}
}
.wedding-category{
	background-image: url(../images/content/main-category-wedding.jpg);
}
.romantic-category{
	background-image: url(../images/content/main-category-romantic.jpg);
}
.author-category{
	background-image: url(../images/content/main-category-author.jpg);
}

//----------------End Main categories-------------------------
//----------------Start  Categories-------------------------

.categories{
	width: 100%;
	background-color: $grey;
	position: relative;
	padding-top: 120px;
	padding-bottom: 130px;
	&::after{
		content: "";
		position: absolute;
		top: 0;
		width: 100%;
		height: 140px;
		background-image: url(../images/header-bg.svg);
		background-repeat: no-repeat;
	}
}
.categories__wrapper{
	background-image: url(../images/content/category-image.jpg);
	background-repeat: no-repeat;
	background-position: 0 0;
	padding-left: 388px;
	min-height: 558px;
	background-color: #fff;
	
}
.category-title{
margin-bottom: 50px;
}
.categories__items{
	position: relative;
	&::before{
		position: absolute;
		content: "";
		top: 0;
		right: 425px;
		width: 1px;
		height: 100%;
		background-image: url(../images/content/category-left-border.jpg);
		background-repeat: repeat-y;
	}
}

.categories__items-row{
	display: flex;
	justify-content: space-between;
	& + &{
		border-top: 1px solid #f2f2f2;
	}
	
}
.categories-title{
	font-size: 24px;
	color: #333;
	padding-top: 55px;
	margin-bottom: 20px;
}
.items-row-left,
.items-row-right{	
	padding: 0 55px 20px 50px;
}
.category-link{
	font-weight: 700;
	font-size: 14px;
	color: #ccc;
	display: inline-block;
	width: 100%;
	padding-top: 10px;
	text-align: right;
	&:hover{
		text-decoration: underline;
	}
}
//----------------End  Categories-------------------------
//----------------Start  Catalog-------------------------
.catalog{
	width: 100%;
	background-color: #fff;
	position: relative;
	padding-top: 120px;
	padding-bottom: 80px;
	&::after{
		content: "";
		position: absolute;
		top: 0;
		width: 100%;
		height: 140px;
		background-image: url(../images/catalog-bg.svg);
		background-repeat: no-repeat;
	}
}
.catalog-title{
	margin-bottom: 35px;
	
}
.catalog_desc{
	max-width: 100%;
	font-size: 30px;
	color: #333;
	text-align: center;
}
.catalog__wrapper{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.catalog__item{
	width: calc( 33% - 25px);
	margin-top: 37px;
	margin-bottom: 57px;
	border: 3px solid #fff;
	
	.catalog__item-image{
		text-align: center;
		background-color: #fafafa;

	}
	&:hover{
		border: 3px solid #ff3366;
	}
}
.catalog__item-info{
	display: flex;
	justify-content: space-between;
	padding: 20px 35px 25px 35px;
	background-color: #f7f7f7;
	align-items: center;
	.item-info-title{
		font-weight: 700;
		line-height: 18px;
		color: #333;
	}
	.item-info-category{
		font-size: 12px;
		color: $text;
		text-transform: uppercase;
		padding-top: 10px;
		& a:hover{
			text-decoration: underline;
		}
	}

	.item-info-price{		
		width: 100px;
		height: 100px;
		position: relative;
		background-color: #fff;
		border-radius: 50%;
		span{
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100px;
			height: 100px;
			font-size: 18px;
			font-weight: 700;
			color: #ff6666;
		}

	}
}
//----------------End  Catalog-------------------------
//----------------Start  Reviews-------------------------

.reviews{
	width: 100%;
	background-image: url(../images/content/wedding-sea.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 800px;
	background-position: center;
	position: relative;
	&::after{
		content: "";
		position: absolute;
		top: 0;
		width: 100%;
		height: 140px;
		background-image: url(../images/reviews-bg.svg);
		background-repeat: no-repeat;
	}
	margin-bottom: 150px;
}
.reviews__info{
	max-width: 550px;
	margin: 0 auto;
	text-align: center;
	padding-top: 225px;
}
.reviews__info-photo img{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	border: none;
	
}
.reviews__info-text{
	color: #fff;
	span{
		display: block;
		font-weight: 700;
		line-height: 30px;
	}
	margin-bottom: 30px;
}


//----------------End  Reviews-------------------------
//----------------Start Contacts-------------------------
.contacts{
	margin-bottom: 100px;
}
.contacts__title{
	margin-bottom: 40px;
}
.contacts__wrapper{
	display: flex;
	justify-content: space-between;

}
.contacts__info{
	width: 200px;
	padding-right: 40px;
	color: #333;
	p{
		margin-bottom: 22px;
	}
	span{
		font-weight: 700;
		display: block;
	}
}
.contacts__form{
	max-width: 970px;
	width: 100%;
	.form__row{
		display: flex;
		justify-content: space-between;
		margin-bottom: 10px;
		input{
			width: 315px;
			background-color: #f7f7f7;
			padding: 20px 30px;
		}

	}
	textarea{
		background-color: #f7f7f7;
		padding: 20px 30px;
		max-width: 970px;
		width: 100%;
		resize: none;
		display: block;
		min-height: 195px;
		margin-bottom: 10px;
	}
	button{
		padding: 20px 50px;
		background-color: #ff5969;
		color: #fff;
		text-transform: uppercase;
		font-weight: 700;
		border-radius: 4px;
		cursor: pointer;
	}
}

//----------------End Contacts-------------------------
//----------------Start Footer-------------------------
.footer{
	background-color: #f7f7f7;
	width: 100%;
}
.footer__wrapper{
	display: flex;
	justify-content: space-between;
	padding: 100px 0 60px 0;
	background-color: #f7f7f7;
	color: #666;
	font-size: 13px;
	text-transform: uppercase;
	a{
		color: #666;
		&:hover{
			text-decoration: underline;
		}
	}
}
.footer__title{
	
	font-size: 18px;
	
	font-family: 'Prata', serif;
	margin-bottom: 25px;
}
.footer__newletter{
	width: 260px;
	.footer__newletter-text{
		margin-bottom: 45px;
	}

	.footer__newletter-form{
		form{
			height: 48px;
			width: 256px;
			display: flex;
			justify-content: space-between;
		}
		
		input{
			height: 48px;
			background-color: #fff;
			width: 206px;
			padding-left: 10px;
		}
		button{
			height: 48px;
			background-color: #000;
			width: 48px;
			position: relative;
			cursor: pointer;
			&::after{
				position: absolute;
				content: "";
				background-image: url(../images/content/footer-arrow.png);
				width: 12px;
				height: 9px;
				top: 50%;
				left: 50%;	
				transform: translate(-50%,-50%);
			}
		}
	}
}

.footer__info{
	li{
		margin-bottom: 16px;		
	}
}
.footer__social{
	li{
		margin-bottom: 22px;
	}
	a{
		font-size: 13px;
		text-transform: uppercase;
		font-family: 'Open Sans', sans-serif;
		padding-left: 7px;
	}
}
.footer__logo{
	width: 100%;
	text-align: center;
	padding-bottom: 50px;
}
//----------------End Footer-------------------------